<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Tickets</title>
  </head>
  <body>
    <h1>Buy a new ticket</h1>
    <form  action="/tickets" method="post">
      <label for="guest_name">Enter your name</label>
      <input type="text" name="guest_name" >
      <label for="/shows">Enter the show you want to watch</label>
      <input type="text" name="show_name">
      <input type="submit" name="submit" >
      <a href="/tickets"></a>
    </form>


  </body>
</html>
