<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Enter A Show</title>
  </head>
  <body>
    <h1>Please Enter a Show You Would Like to See</h1>
    <form action="/shows" method="post">
      <label for="name">Show Name</label>
      <input type="text" name="name">

      <label for="city">City</label>
      <input type="text" name="city">

      <input type="submit" value="submit">

    </form>
  </body>
</html>
