<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>specific show</title>
  </head>
  <body>
    <div><%=@show.name%></div>
    <div><%=@show.city%></div>
    <a href="/tickets/new" >
      Would you like to buy this ticket?
      </a>
  </body>
</html>
